*{
	margin: 0;
	padding: 0;
}

.content{
	position: absolute;
	/*top: -200%;*/
}

.page{
	position: relative;
	/*相对定位*/
}

img{
	position: absolute;
}

.page1{
	background: #00ccff;
}

.page1-Building{
	width: 100%;
	height: 30%;
	bottom: 0;
}

.page1-elements{
	width: 100%;
	height: 100%;
	animation: zooming 2s linear infinite;
}

.page1-cloud{
	width: 90%;
	height: 90%;
	animation: zooming 2s linear infinite;
}

@keyframes zooming{
	0%{transform: scale(1);}
	50%{transform: scale(0.9);}
	100%{transform: scale(1);}
}

.page1-txt{
	width: 60%;
	left: 0;
	right: 0;
	margin: auto;
	top: 15%;
}

.page1-flower{
	top: 14%;
    width: 20%;
    left: 7%;
    z-index: 1;
    animation: rotate 2s linear infinite;
}

.page1-flower2{
	left: 62%;
    width: 23%;
    top: 27%;
    z-index: 1;
    animation: rotate 2s linear infinite;
}

@keyframes rotate{
	0%{}
	16%{transform: rotate(30deg);}
	32%{transform: rotate(0deg);}
	48%{transform: rotate(0deg);}
	64%{transform: rotate(-30deg);}
	80%{transform: rotate(0deg);}
	100%{transform: rotate(0deg);}
}

.page1-flight{
	left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    width: 70%;
    animation: flight 4s linear infinite;
}

@keyframes flight{
	0%{transform: scale(1);}
	50%{transform: scale(1.2);}
	100%{transform: scale(1);}
}

.page1-stars{
	width: 100%;
}

.page2{
	background: aquamarine;
}

.page2-bg{
	width: 100%;
	height: 100%;
}

.page2-farm{
	width: 70%;
	right: 0;
	top: 20%;
}

.page2-it{
	width: 70%;
	right: 0;
	top: 60%;
}

.page2-star{
	width: 100%;
	height: 100%;
}

.page3{
	background: black;
}

/*.page3-eg{
	width: 100%;
	height: 100%;
}

.page3-et{
	width: 40%;
}
.page3-et{
	z-index: 1;
}

.page3-lt{
	width: 60%;
}

.page3-lt{
	z-index: 1;
}*/

.page3-mta{
	width:20%;
	right: 12%;
	bottom: 82%;
}
.page3-mts{
	width: 20%;
	left: 30%;
}
.page3-mtt{s
	width: 10%;
}
.page3-mtw{
	right: 0;
	bottom: 10%;
}
.page4{
	background: pink;
}
.page4-bg{
	width: 100%;
}
.page4-off{
	left: 8%;
	bottom: -32.4%;
}
